.git
.idea
__pycache__/
*.pyc
.pytest_cache/
bd.env
*.env
venv/
.env/
backend/.venv/
backend/asistente_financiero.db
backend/tests
backend/postman
app.py
modelo.py
recomendaciones.py
dataset.csv
deudas/
db/
